.error {
    color: #f00;
}

.tab-content-detail img{
    width:auto !important;
    height: auto !important;
    display:block;
    margin:0 auto;
}

.sl-lrins .dropdown button{
    width:190px;
}

.clothes-bg-top {
    background: url(/assets/images/hr.png) center center no-repeat;
    height: 45px;
    display: block;
    margin: 10px 0;
}

.clothes-bg-bottom {
    background: url(/assets/images/hr2.png) center center no-repeat;
    height: 34px;
    display: block;
    margin: 10px 0;
}

.sl-hdcbox iframe {
    width: 100%;
    max-height: 390px;
}

.sl-seauls > li {
    position: relative;
}

    .sl-seauls > li .filter-suggest {
        width: 100%;
        position: absolute;
        top: 45px;
        border-radius: 3px;
        overflow: hidden;
    }

        .sl-seauls > li .filter-suggest ul {
            background: #fff;
        }

            .sl-seauls > li .filter-suggest ul li {
                padding: 10px;
                border-bottom: 1px #ccc solid;
            }

                .sl-seauls > li .filter-suggest ul li a {
                    display: block;
                }

.sl-search {
    position: relative;
    z-index: 1;
}
